@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center p-5" style="margin-top:5%; background-color:rgba(240,240,230,.2);width:400px;border-radius:25px;">
    <h4 class="display-4" style="color:white;text-align:left; font-size:40px;"><b>Learn and Build</b></h4>
    <h6 style="text-align:left;color:gainsboro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </h6><br />
    <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Index" class="btn btn-info rounded-3">&nbsp; Center Point</a>
        </div>
</div>
*@

<div class="text-center p-3" style="border-color:white;border-style:solid;margin-top:15%;width:30%;margin-left:35%;">
    <h1>LEADS</h1>
</div>